.broken-links__expandable-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.broken-links__expandable-toggle.open .dashboard-panel__toggle-button {   
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.broken-links__expandable {
    display: none;
}

.broken-link__code {
    color: white;
    padding: 2px 8px;
    border-radius: 10px;
}

.broken-link__code--code-404 {
    background-color: rgb(255, 115, 0);
}

.broken-link__code--code-500 {
    background-color: rgb(221, 1, 1);
}