.broken-links__expandable-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.broken-links__expandable-toggle.open .dashboard-icon {
    transform: rotate(90deg);
}

.broken-links .dashboard-icon {
    font-size: 20px;
}

.broken-links__title {
    margin-bottom: 0;
}

.broken-links__expandable {
    display: none;
    padding-top: 25px;
}

.broken-link__code {
    color: white;
    padding: 2px 8px;
    border-radius: 10px;
}

.broken-link__code--code-404 {
    background-color: rgb(255, 115, 0);
}

.broken-link__code--code-500 {
    background-color: rgb(221, 1, 1);
}