.website-health__expandable-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.website-health__expandable-toggle.open .dashboard-icon {
    transform: rotate(90deg);
}

.website-health .dashboard-icon {
    font-size: 20px;
}

.website-health__title {
    font-size: 20px;
}

.website-health__expandable {
    display: none;
}

.result__expand-trigger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid gray;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
}

.result__title {
    font-size: 16px;
    margin-bottom: 0;
}

.result__expandable {
    display: none;
    background-color: #efefef;
    padding: 20px;
}

.result__expandable.open {
    display: block;
}

.result__list {
    padding-left: 15px;
}