.dashboard-panel__head {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.open {
        .dashboard-panel__toggle-button {
            transform: rotate(180deg);
        }
    }
}

.dashboard-panel__toggle-button {
    border: 0;
}

.dashboard-panel__expandable {
    display: none;
}