.broken-link__code {
    color: white;
    padding: 2px 8px;
    border-radius: 10px;
    
    &--code-404 {
        background-color: rgb(255, 115, 0);
    }

    &--code-500 {
        background-color: rgb(221, 1, 1);
    }
}